@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">POC that uses Eldos Virtual File system. Upload is the feature show though the adaptor library supports more. There wasn't enough time to make the front end work with it.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a>
    </p>
    <p>Timer Log</p>
    <p> @ViewBag.MessageTimer </p>
</div>